body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: #fff;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    /* left: 0;
    top: 0;
    z-index: 1000; */
}
.header__inner {
    position: relative;
}
.contacts {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
nav {
    display: flex;
    justify-content: space-around;

}
nav:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
}
nav:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 100%;
}
.nav__link {
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url(img/intro.jpg) center no-repeat;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
}
.intro__btn {
    margin: 15px;
    padding: 15px 30px;
    background-color: #998431;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*About__wine*/

.about {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    padding: 50px 0;
}

.about__wine {
    height: 100%;
    border: 3px solid #C4C4C4;
    text-align: center;
}

.about__wine__content {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.about__title {
    font-size: 36px;
    line-height: 54px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.about__title:after {
    display: block;
    content: '';
    width: 160px;
    height: 1px;
    background-color: #fff;
    margin: 40px auto;
}

.about__wine__text {
    font-weight: 400;
    line-height: 24px;
}

.about__wine__img {
    display: block;
}
